<nav role="navigation">
  <ul>
  {% if page.title == "Home" %}
    <li> <a href="{{ site.baseurl }}/" title="Blog">Blog</a></li>
  {% elsif page.layout == "post" and page.category != "tutorials" %}
    <li> <a href="{{ site.baseurl }}/" title="Blog">Blog</a></li>
  {% else %}
    <li> <a class="inactive-nav" href="{{ site.baseurl }}/" title="Blog">Blog</a></li>
  {% endif %}
  
  {% if page.title == "Tutorials" %}
    <li> <a href="/tutorials" title="Tutorials">Tutorials</a></li>
  {% elsif page.layout == "post" and page.category == "tutorials" %}
    <li> <a href="/tutorials" title="Tutorials">Tutorials</a></li>
  {% else %}
    <li> <a class="inactive-nav" href="/tutorials" title="Tutorials">Tutorials</a></li>
  {% endif %}
    
  {% if page.title == "About" %}
    <li> <a href="/about" title="About">About</a></li>
  {% else %}
    <li> <a class="inactive-nav" href="/about" title="About">About</a></li>
  {% endif %}
  </ul>
</nav>
