<nav class="nav-bar" role="navigation">
  <ul>
  {% if page.title == "Home" %}
    <li> <a href="{{ site.baseurl }}/" title="Posts">Posts</a></li>
  {% elsif page.layout == "post" %}
    <li> <a href="{{ site.baseurl }}/" title="Posts">Posts</a></li>
  {% else %}
    <li> <a class="inactive-nav" href="{{ site.baseurl }}/" title="Posts">Posts</a></li>
  {% endif %}
  
  {% if page.title == "Categories" %}
    <li> <a href="/categories" title="Categories">Categories</a></li>
  {% elsif page.tags contains "category" %}
    <li> <a href="/categories" title="Categories">Categories</a></li>
  {% else %}
    <li> <a class="inactive-nav" href="/categories" title="Categories">Categories</a></li>
  {% endif %}
    
  {% if page.title == "About" %}
    <li> <a href="/about" title="About">About</a></li>
  {% else %}
    <li> <a class="inactive-nav" href="/about" title="About">About</a></li>
  {% endif %}
  </ul>
</nav>
