html { 
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
/*
h1, h2, h3 {
	font-family: ui-rounded, "SF Pro Rounded", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

.post-date, .site-title, .site-subtitle, .pill-button {
	font-family: ui-rounded, "SF Pro Rounded", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

.nav-bar {
	a {
		font-family: ui-rounded, "SF Pro Rounded", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
	}
}
*/	
}