body {
    margin: 0 auto;
    max-width: 66ch;
    overflow-x: hidden;
    padding: 1em;
}

hr {
    background: lightgrey;
    border: 0;
    height: 1px;
    margin: 2rem 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid lightgrey;
    }

    td {
        padding: 0.5rem;
    }
}

.category-posts {
 
}

.small-img {    
    height: auto;
    left: calc(50% - 250px);
    position: relative;
    width: 500px;

    @media(max-width:1000px) {
        left: auto;
        width: 100%;
    }
}

.narrow-img {    
    height: auto;
    left: calc(50% - 150px);
    position: relative;
    width: 300px;

    @media(max-width:1000px) {
        left: auto;
        width: 100%;
    }
}


img {
    height: auto;
    left: calc(50% - 500px);
    position: relative;
    width: 1000px;

    @media(max-width:1000px) {
        left: auto;
        width: 100%;
    }
}

nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
        }
    }
    a {
        margin-right: 1rem;
    }
}

footer {
    margin: 4rem 0;
}

.footnotes {
    padding-top: 30px;
}

.message {
    border: 1px solid lightgrey;
    padding: 1rem;
}

.return-to-top, .return-to-top:hover {
    background: black;
    border-radius: 5px;
    bottom: 10px;
    color: #fff !important;
    display: none;
    font-size: 12px;
    padding: 10px 15px;
    position: fixed;
    right: 10px;
    text-align: center;
    text-decoration: none;
    z-index: 5;

    span {
        &:nth-child(2) {
            padding-left: 5px;

            @media(max-width: 1000px) {
                display: none;
            }
        }
    }
}