// Typography
//
// Headings, body text, lists, and other misc typographic elements.

body {
  font-size: $root-font-size;
  line-height: $root-line-height;
  font-display: swap;
  background: $body-color;
  color: white;
}

.masthead-container {
  h2 {
    margin-top: 0 !important;
  }
}

.category-title {
  text-transform: capitalize;
}

.site-title {
  font-size: 150%;
  font-weight: bold;
  
  a {
    text-decoration: none;
  }
}

.site-subtitle {
  font-size: 90%;
  color: $secondary-color;
}

.footnotes {
  font-size: 90%;
  color: $secondary-color;
}

.footnotes {
  padding-top: 30px;
}

a,a:visited {
  
  color: white;
  font-weight: bold;
  
  &.inactive-nav {
    color: $secondary-color;
  }
  
  &.footer-nav {
    color: $tertiary-color;
  }
  
  &:hover {
    color: $brand-color;
  }
}

blockquote {
  
  background: none;
  border-left: 5px solid #373838;
  font-family: "Georgia", serif;
  font-size: 120%;
  font-style: italic;
  margin: 2rem 0;
  padding: 1rem;

  p {
    margin: 0;
  }

  footer {
    font-size: 80%;
    margin: 1rem 0 0 0;
    color: $secondary-color;
  }
}

dl {
  dt {
    margin-bottom: 10px;
  }
  dd {
    font-style: italic;
    margin-bottom: 2rem;
  }
}

figure {
  margin: 2rem 0;
}

pre {
  border: 1px solid #373838;
  overflow: auto;
  padding: 1em;
  width: 100%;
  background: $body-color;
}

.category-posts {
  article {
    p {
      opacity: 0.7;
      margin-top: 0.4rem;
    }
  }

  h2 {
    font-size: 18px;
    margin-bottom: 0;
    text-transform: capitalize;
  }
}

.posts {

  article {
    margin: 3rem 0;

    p {
      opacity: 0.7;
      margin-top: 0.4rem;
    }
  }

  h2 {
    font-size: 18px;
    margin-bottom: 0;
    text-transform: capitalize;
  }
}

.post-date {
  color: $tertiary-color;
  font-size: 80%;
}

.marginnote {
  font-style: italic;
}

.individual-post {
  h1 {
    font-size: 300%;
    line-height: 1.2;
    margin-bottom: 1rem;

    @media(max-width: 1000px) {
      font-size: 220%;
    }
  }
  h2,h3,h4 {
    margin-top: 3rem;
  }
  code {
    color: $code-color;
  }
}

ul li, ol li {
  margin-bottom: 10px;

   ul, ol {
     margin-top: 10px;
   }
}

// Custom type
// Extend paragraphs with `.lead` for larger introductory text.

.lead {
  font-size: 120%;
  line-height: 1.4;
}
