$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: #1c1e20;
$brand-color: #f22c56;
$secondary-color: #bbbcbd;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #B4B4B4;
