$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: #1c1e20;
$brand-color: #f22c56;
$secondary-color: #bbbcbd;
$tertiary-color: #767676;
$pill-background-color: #4F4F4F;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #B4B4B4;

// Category Colours
$cat-color-swiftui: #1c1e20;
$cat-color-personal: #1c1e20;
$cat-color-tutorials: #1c1e20;
$cat-color-generic: #1c1e20;